.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-header {
    font-size: 72px;
}

.profile-icon {
    color: darkred;
}

body {
    margin : 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display : grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar top-bar"
    "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
    background-color: #9f1239;
    color: #ffffff;
    padding-left: 32px;
    padding-right : 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-logo {
    display : flex;
    align-items: center;
}

.sidebar-logo-header {
    font-size: 48px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap : 16px;
    align-items: flex-start;
    
}

.sidebar-nav>ul {
    list-style: none;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-nav > ul > .nav-item {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap : 24px;
}

.top-bar {
    grid-area: top-bar;
    display : flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 12px 32px;
}

.top-bar > .search {
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar > .search > .search-bar {
    display: flex;
    align-items: center;
    gap : 12px;
}

.top-bar > .search > .search-bar-profile {
    display : flex;
    align-items: center;
    gap: 32px;
}

.top-bar > .search > .search-bar-profile > .sb-prof {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 8px;
}

.top-bar > .profile {
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    width: max(1000px, 50%);
    height: 32px;
    background-color: #fff1f2;
    border-radius: 12px;
    border : none;
}

.top-bar > .profile {
    display : flex;
    gap: 16px;
}

.top-bar > .profile >  .hello-message > .profile-icon {
    font-size: 72px;
}

.top-bar > .profile > .hello-message {
    display : flex;
    align-items: center;
    font-size: 28px;

}

.profile > .button-cluster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.btn {
    background-color: #9f1239;
    padding: 16px;
    border: none;
    color: white;
    border-radius: 24px;
    min-width: 120px;
    font-weight: 700;

}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project announce"
    "project trending";
    padding : 32px;
    background-color: #f3f4f6;
}

.projects { 
    grid-area: project;
}

.announcements {
    grid-area: announce;
}

.trending {
    grid-area: trending;
}

.projects-container {
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 25%));
    gap: 32px 32px;
}

.project-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-left: 12px solid #f43f5e;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #ffffff;
}

.project-card > .project-heading {
    font-size: 24px;
    font-weight: 700;
}

.project-card > .button-cluster{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.project-card > .button-cluster > button {
    border : none;
    padding : 12px;
    border-radius: 24px;
    background-color: #9f1239;
    color: white;;
}

.announcements-list-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding : 16px;
    border-radius: 8px;
    background-color: #ffffff;
}

.announce-list {
    list-style: none;
}

.announce-list > .announce {
    border-bottom: 1px solid #d1d5db;
    padding : 10px;
}

.announce > .announce-heading {
    font-size: 16px;
    font-weight: 700;
}

.announce > .announce-body {
    font-size: 12px;
}

.trending {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 24px;
    background-color: #ffffff;
    padding: 32px;
}

.trending > .trending-profile {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-bottom: 1px solid #d1d5db;
}

.trending-acc-img {
    font-size : 72px;
}